@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow: auto;
}
button {
  cursor: pointer;
  transition: all 0.2s;
}
@media (min-width: 760px) {
  /* Styles for screens 760px and wider */
  button:hover {
    scale: 1.1;
  }
}
.btn:hover {
  scale: 1.05;
}

/* Custom scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e13b3b transparent;
}
