@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
button {
  cursor: pointer;
}
/* Custom scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e13b3b transparent;
}
